.App {
height: 100vh;
display: grid;
grid-template-rows: 50px 1fr;
}

.NavBar{
  background-color: #8BAAAD;
  padding: 0 20px;
  display: grid;
  align-content: center;
}
.Logo{
  font-size: 1em;
  color: white;
}

.Canvas{
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 2fr 25%;
}

.BoxStyle{
  border: 1px solid #8BAAAD;
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-rows: 20px 1fr;
  grid-row-gap: 10px;
}

.BoxHeader{
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}
.icon{
  color: #B56B45;
}
.TitleWrapper{
  grid-column: 2/3
}
.BoxTitle{
  font-size: 1em;
  color: #B56B45;
}
.AddWrapper{
  grid-column: 3/4;
}
.AddItem{
  background-color: transparent;
  outline: none;
  border-radius: 50px;
  color: #B56B45;
  border: 2px solid #B56B45;
  cursor: pointer;
}
.BoxContent{
  border-top: 1px solid #8BAAAD;
  padding-top: 10px;
  grid-row: 2/3;
}
.ItemTitle{
  font-size: 14px;
  color: #8BAAAD;
}

.KeyDescription{
  margin: 5px 0;
  font-size: 12px;
  color: #8BAAAD;
}

.How{
  grid-column: 1/2;
  grid-row: 1/3;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.KeyPartners{
  grid-column: 1/2;
  grid-row: 1/3;
}


.What{
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
}

.ValueProposition{

}

.ToWho{
  grid-column: 3/4;
  grid-row: 1/3;


  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.CustomerSegments{
  grid-column: 2/3;
  grid-row: 1/3;
  overflow-y: scroll;
}

.HowMuch{
  grid-column: 1/4;
  grid-row: 3/4;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.CostStructure{
  grid-column: 1/2;
}
